* {
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "header header header"
        "sidebar content content";

    grid-template-rows: 80px;
    grid-template-columns: 1fr 3fr;
    font-size: 0;
}

.header {
    background: green;
    grid-area: header;
}

.sidebar {
    background: orangered;
    grid-area: sidebar;
}

.content {
    background: yellow;
    grid-area: content;
}